{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container py-4" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center my-4">Профиль пользователя</h2>
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body text-center">
            <img src=" {{ url_for('static', filename='images/default.jpg') }}" class="profile-photo" alt="Profile photo">
            <h5 class="card-title">Привет, {{ user }}!</h5>
            {% if args %}
                <p class="card-text">Имя: {{ args[0] }}</p>
                <p class="card-text">Фамилия: {{ args[1] }}</p>
                <p class="card-text">ID гражданина: {{ args[2] }}</p>
                <p class="card-text">Привилегии: {{ args[3] }}</p>
                <a href="{{ url_for('users.UserProfileQr') }}" class="btn btn-primary w-100 mt-3">QR-код для входа</button></a>
            {% else %}
                <p class="card-text">У вас пока нет подтвержденных данных.</p>
                <a href="{{ url_for('users.UserProfileApprove') }}" class="btn btn-primary w-100">Подтвердить данные</a>
            {% endif %}
            <a href="{{ url_for('admin.CreatePost') }}" class="btn btn-success w-100 mt-3">Создать проект</a>
        </div>
    </div>
</div>
{% endblock %}