{% extends 'base.html' %}

{% block title %}Подтверждение профиля{% endblock %}

{% block content %}
<div class="container py-4" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center my-4">Подтверждение профиля</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control", id="first_name", required=True) }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control", id="last_name", required=True) }}
        </div>
        <div class="mb-3">
            {{ form.cityzen_id.label(class="form-label") }}
            {{ form.cityzen_id(class="form-control", id="cityzen_id", required=True) }}
        </div>
        {{ form.submit(class="btn btn-primary w-100") }}
    </form>
    {% if form.errors %}
        <div id="error-message" class="mt-3 text-danger">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}