{% extends 'base.html' %}

{% block title %}Создать проект{% endblock %}

{% block content %}
<div class="container py-4" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center my-4">Создать новый проект</h2>
    <form method="post" action="{{ url_for('admin.CreatePost') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary w-100") }}
        </div>
    </form>
</div>
{% endblock %}