{% extends 'base.html' %}

{% block title %}Редактировать проект{% endblock %}

{% block content %}
<div class="container py-4" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center my-4">Редактировать проект</h2>
    <form method="post" action="{{ url_for('admin.UpdatePost', post_id=post.id) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Название проекта</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Описание</label>
            <textarea class="form-control" id="content" name="content" rows="5" required>{{ post.content }}</textarea>
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Изображения</label>
            <input type="file" class="form-control" id="images" name="images" multiple>
        </div>
        <button type="submit" class="btn btn-primary w-100">Обновить проект</button>
    </form>
</div>
{% endblock %}
