{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container py-4" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center my-4" style="font-size: 36px; font-family: 'Open Sans', sans-serif; font-weight: bold;">Добро пожаловать в проект "Активный человек"!</h1>
        <p class="text-center">Проект "Активный человек" - это площадка для жителей нашего города, где они могут принимать участие в электронных голосованиях и решать вопросы развития нашего города.</p>
        <p class="text-center">Мы создаем пространство для людей, которые хотят изменить свою жизнь и жизнь других. Наш проект направлен на развитие физической и эмоциональной активности, а также на формирование здорового образа жизни.</p>
        <p class="text-center">В проекте "Активный человек" вы можете принимать участие в голосованиях, обсуждениях и других мероприятиях, которые помогут вам стать более активным гражданином нашего города.</p>
        <p class="text-center">Мы верим, что каждый человек имеет право на участие в решении вопросов, которые касаются его жизни и жизни его сообщества. Поэтому мы создаем площадку, где каждый может высказать свое мнение и быть услышанным.</p>
        <p class="text-center">Сделано в нашем городе по решению активных граждан.</p>
    </div>
{% endblock %}