<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <img src=" {{ url_for('static', filename='images/default.jpg') }}" class="profile-photo" alt="Profile photo">
            </div>
            <p class="card-body">Ваши данные</p>
            <p class="text-center text-info">Имя: {{ user }}</p>
            <div class="text-center"><a href="{{ url_for('users.UserLogout') }}" class="btn btn-sm btn-outline-danger">Выйти</a>
            </div>
            <p>Посты:</p>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</title>
</head>
<body>

</body>
</html>